@if(artist) {
	<div class="row">
		<div class="col-xl-4 col-12">
			<!--TODO: populate with artist name-->
			<h1>{{ artist.name }}</h1>
			<!--TODO: populate with artist image URL-->
			<img id="artistImg" src="assets/unknown.jpg">
			<p>
				<!--TODO: link to artist page on spotify, display artist name-->
				<a class="btn btn-light" role="button" target="_blank">Open {{ artist.name }} on Spotify</a>
			</p>
		</div>
		<div class="col-xl-4 col-12">
			<h3>Popularity</h3>
			<!--TODO: display the number of followers, formatted with commas for thousands/millions-->
			<p>{{ artist.followers | number }} followers</p>
			<app-thermometer [popularity]="artist.popularity"></app-thermometer>
			<!--TODO: display artist name-->
			<h3>{{ artist.name }}'s Albums</h3>
			<!--TODO: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
			<app-carousel [resources]="artist.albums" [carouselId]="'artist-album-carousel'"></app-carousel>
		</div>
		<div class="col-xl-4 col-12">
			<!--TODO: display artist name-->
			<h3>{{ artist.name }}'s Top Tracks</h3>
			<!--TODO: display the artist's top tracks-->
			<app-track-list [tracks]="artist.topTracks"></app-track-list>
		</div>
	</div>
}